* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content:center;
    height: 150px;
    background: black;
}

#logo {
    padding: 10px;
    margin-top: 33px;
    margin-right: 150px;
}

#menu {
    margin-top: 50px;
}

#menu ul li {
    display: inline;
    padding: 10px;
}

#menu ul li a{
    font-size: 0.8em;
    text-decoration: none;
    color: rgb(189, 125, 8);
}

#menu ul li a:hover {
    color: green;
    text-decoration: underline;
}

#conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

#museu {
    margin-right: 20px;
}

h3 {
    font-size: 0.8em;
    color: green;
    margin-bottom: 5px;
}

#segundo {
    margin-top: 15px;
}

#video {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

#video #video-div {
    margin-right: 40px;
}

#video ul {
    list-style: none;
}

#video ul li a{
    font-size: 0.8em;
    text-decoration: none;
    color: rgb(189, 125, 8);
}

#video ul li a:hover{
    color: green;
    text-decoration: underline;
}

p {
    width: 300px;
    font-size: 0.8em;
}

#mapah3 {
    margin-top: 10px;
}

#linkh3 {
    margin-top: 20px;
    font-size: 0.8em;
    color: rgb(189, 125, 8);
}

#reserva {
    height: 100px;
    background: rgb(232, 212, 170);
    font-size: 0.8em;
    padding: 20px;
}

#reservar {
    width: 60px;
    margin-right: 20px;
    height: 17px;
}

#div-reserva {
    padding-left: 10px;
}

#reserva h3 {
    font-size: 1.3em;
    padding: 0;
    margin-bottom: 10px;
    color: rgb(141, 97, 17);
}

#qtd-pessoas {
    width: 50px;
    height: 17px;

}

#botao-reserva {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background: burlywood;
    border: none;
    color: white;
    font-size: 1.4em;
}

#fotos {
    background: rgb(236, 234, 234);
    margin-top: 0;
    border: 1px solid rgb(236, 234, 234);
}

#fotos1 {
    display: flex;
    justify-content: center;
}

#fotos2 {
    display: flex;
    justify-content: center;
}

.separar {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border: 10px solid white;
}

#h3-fotos {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 1em;
    color: rgb(141, 97, 17);

}

#rodape {
    margin-top: 50px;
}

#rodape ul {
    text-align: center;
}

#rodape ul li {
    display: inline;
    padding: 10px;
}

#rodape ul li a{
    font-size: 0.6em;
    text-decoration: none;
    color: rgb(189, 125, 8);
}

#rodape ul li a:hover {
    color: green;
    text-decoration: underline;
}

#copy {
    margin-top: 15px;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 15px;
}

#copy a {
    color: rgb(189, 125, 8);
    text-decoration: none;
}
